



/*      NAVBAR SECTION CSS       */
#navbar{
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
    height: 5rem;
    position: sticky;
    top: 0;
    background-color: #1b1c1e;
    display: flex;
    flex-direction: row;
}
/* ============================== */
/*      NAVBAR EDUHUB LOGO */
.imgContain{
    padding: 1rem;
    margin-left: 1rem;
}

#flexContainer{
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    height: 100%;
    margin-left: 46rem;

}
.navbarElement{
    list-style: none;

}
.navbarLink{
    text-decoration: none;
    color: white;

}

/*      CONTACT US NAVBAR        */
.contactUs{
    width: 8rem;
    height: 3rem;
    border-radius: 0.4rem;
    background-color: #3B92F8;

}

/*      HERO SECTION         */
