
/* all root elements and global variables here */

/*      FONT         */
:root{
    --sora : 'Sora', sans-serif;
    --background: #1b1c1e;
    --blue: #3B92F8;
}


*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--sora);
}

html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 500vh;
    
    overflow-x: hidden;
    background-color: #1b1c1e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* for centering Everything */
.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
